

#contact-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

#person{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

#person img{
  margin-right: 30px;
}

#jody-pic {
  border-radius: 5px;
  height: 370px;
  width: auto;
  /*-webkit-box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.75);*/
}

#manolia-pic{
  margin-top: 20px;
  height: 320px;
  border-radius: 5px;
  width: auto;
}

#betta-pic{
  margin-top: 20px;
  width: 248px;
  border-radius: 5px;
}


#information {
  width: 370px;
}

#name{
  padding-bottom: 15px;
  font-weight: 900;
  font-size: 18px;
  color: #161136;

}

#name:hover{
  color: #E9E6E6;
}

#title{
  line-height: 1.3em;
  font-size: 18px;
  font-weight: 900;
  color: #161136;

}

#address{
  line-height: 1.3em;
  padding-top: 15px;

}

#address div{
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 1.3em;
}

#address div:hover{
  color: #161136;
}

#email a{
  color: #161136;
  font-family: 'Open Sans Condensed', sans-serif;
  /*text-decoration: underline; */
  margin-bottom: 20px;
}

#phone{
  font-family: 'Open Sans Condensed', sans-serif;
}
#email:hover{
  text-decoration: underline;
}
#profile{
  margin-top: 10px;
}
#profile a{
  padding-top: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  text-decoration: underline;
  color: #A00308;
}

.betta{
  margin-top: 20px;
}

.one{
  margin-top: 20px;
}

#phone1 {
  margin-top: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}

#phone2 {
  margin-bottom: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}
